// Make sure the charset is set appropriately
@charset "UTF-8";
@import "theme_variables";
@import "stylesheet_font-awesome.min";

@media only screen and (max-width: 1199px) {

  .theme-default .nivo-controlNav {
    bottom:40px!important;
  }
  .zoomContainer {
    display: none;
  }
  .content_sortPagiBar {
    margin: 20px 0;
  }
  .block_content {
    margin-bottom: 0;
  }
  .block_content ul li a,
  .block_content ol li a,
  #tm_categories > ul > li > a {
    font-size: 13px;
  }
  #mega-wrapper .mega-menu > li > a {
    padding: 20px 17px;
  }
  .shopping_cart div.shop-box-wrap .st3:after {
    margin: 0 0 0 10px;
  }
  .banners1 .item .title {
    top: 0;
    .capt {
      padding: 10px 41% 10px 10px;
    }
  }
  .greeting,
  .bottom-pg, 
  .top-pg {
    margin-bottom: 30px;
  }
  .bot-border {
    padding-top: 10px;
  }

	#mega-wrapper .mega-menu .customer_service .dropdown{
		left:auto;
		right:0;
	}

  .header_user_info > li + li {
    margin-left: 13px;
  }
  .shopping_cart {
    margin-left: 0;
  }

  #specialsListing .grid li .product-col .price span {
    font-size: 18px;
  }
  .theme-default a.nivo-prevNav:after, 
  .theme-default a.nivo-nextNav:after {
    top: 48%;
  }

  div#dropMenu ul ul.level2 {
    width:970px;
  }
    div#block_top_menu {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 25px;
        float: left!important;
        width: 100%!important;
    }

    .form-group.contact-group-area {
        float: right;
        width: 55%;
    }

    .heading h1 {
      margin-bottom: 30px;
    }
  aside.column .block_content .img {
    float: left;
    margin-bottom: 15px;
    margin-right: 7%;
  }
  aside.column .block_content .img img {
    width: 100%;
    height: auto;
  }
  aside.column .block_content .sb-info,
  aside.column #module_reviews .sb-info {
    float: left;
    margin: 0;
    width: 52%;
  }

  .mega-menu {
    .col-full{
      width:100%;
    }
    .col-2,
    .levels .col-2{
      width:200px;
      float:left;
    }
    .col-3{
      width:198px;
      float:left;
    }
    .col-4{
      width:420px;
      float:left;
    }
    .col-5{
      width:425px;
      float:left;
    }
    .col-6{
      width:640px;
      float:left;
    }
    .col-7{
      width:750px;
      float:left;
    }
    .col-8{
      width:860px;
      float:left;
    }
    .col-9{
      width:100%;
      float:left;
    }
  }
  .mega-menu .col-3 {
      float: left;
  }

	.container{
		width:950px;
	}

  .greeting h2.hello:after {
    font-size: 86px;
    line-height: 108px;
    right: 20px;
    top: 0;
  }
  #indexHomeBody section,
   section {
    padding-bottom: 30px;
  }


  .content_sortPagiBar .dropdown .dropdown-menu.alt li a {
    display: block;
    font-size: 13px;
    line-height: 24px;
    padding: 0 5px;
  }
    span.productPriceDiscount {
      margin-left: 0;
    }
  .breadcrumb {
    margin-left: auto;
    margin-right: auto;
  }
  .mega-menu li.manufacturers-li .dropdown li a img {
    width: 50%;
    height: auto;
  }
  #relatedProducts{
    .col-sm-3{
    }
  }
  
}
@media only screen and (max-width: 991px) {

  .grid li .product-col .price span, 
  .list li .product-col .price span, 
  .product-col .price span{
    font-size: 14px;
  }
  #ezpages li a {
    padding: 0 7.5px;
  }
  .header_user_info {
    float: none;
  }
  #mega-wrapper .mega-menu > li > a {
    padding: 20px 9px;
    font-size: 14px;
  }
  .shopping_cart div.shop-box-wrap .st3 {
    padding: 0 10px;
    &:hover{
      color:#000;
    }
    &:after{
      margin:0;
      display: none;
    }
    &:before{
      left:0;
    }
  }
  .shopping_cart div.shop-box-wrap {
    display: inline-block;
  }
  .phone{
    margin-top: 22px;
  }
  header .socials li a .fa {
    font-size: 15px;
  }
  .container{
    width: 750px;
  }
  .banners1 {
    margin: 30px 0;
  }

  .header_cust_block {
    padding-left: 42px;
  }
  #social > li + li {
    margin-left:10px;
  }

	.prod-list1.w16 {
		.product-col{
			min-height:330px !important;
			.prod-info{
				padding:5px;
				.product-name.name{
					font-size:12px;
					line-height:17px;
				}
			}
		}
	}
	#module_categories ul li a{
		font-size:12px;
	}

  #loginBody .newsletter_block {
    width: 60%;
  }
  .atrib2 #productAttributes .wrapperAttribsOptions .option {
    width: 100%;
  }
  .content_sortPagiBar .dropdown {
    width: 47%;
    margin-right: 7px;
    margin-bottom: 5px;
  }
  .content_sortPagiBar .dropdown button {
    width: 100%;
  }

  #banners2 {
    margin: 0 0 30px;
    div{
      height: 347px;
    }
  }
  .header_user_info {
    padding: 0 0 0 20px;
    li {
      display: inline-block;
      float: none;
      a{
        &:before{
         margin-right: 0!important;
         font-size: 30px!important;
         @include transition;
        }
        span{
          display: none;
        }
        &:hover{
           &:before{
            color:#fff;
          }
        }
      }
      + li {
        margin-left: 60px;
      }
    }
  }
  .categories_btn {
    span {
      display: none;
    }
    .fa{
      font-size: 23px;
      top: 5px;
    }
  }
  #search_block .form-search i {
    display: inline-block;
  }
  #search_block .form-search b {
    display: none;
  }

  .contact_list br {
    display: none;
  }
  .banners1 {
    .capt{
      p{
        display:none;
      }
    }
  }
  .shopping_cart_content {
    width: 200px;
    top: 65px;
  }

    .content_sortPagiBar .dropdown .dropdown-menu {
      padding: 15px 0px 10px 15px;
      width: 100%;
    }
    .content_sortPagiBar .dropdown .dropdown-menu li {
      margin: 0 6px 5px 0;
      width: auto;
    }
    .content_sortPagiBar .dropdown .dropdown-menu.alt {
      padding: 10px 10px 7px;
    }
    .content_sortPagiBar .dropdown .dropdown-menu.alt li {
      display: block;
      width: 100%;
    }
    .content_sortPagiBar .dropdown .dropdown-menu.alt li a {
      padding: 0 6px;
      line-height: 24px;
      display: block;
    }
    .content_sortPagiBar .dropdown .dropdown-menu li a {
      font: 400 15px/26px "Roboto Condensed",sans-serif;
      padding: 0;
      width: 20px;
    }
    .theme-default .nivo-controlNav {
      left: 0!important;
    }

  #shoppingcartBody #cartContentsDisplay th#scProductImg,
  #shoppingcartBody #cartContentsDisplay th#scUpdateQuantity,
  #shoppingcartBody #cartContentsDisplay th#scTotalHeading,
  #shoppingcartBody #cartContentsDisplay td.cartProductDisplay:first-child,
  #shoppingcartBody #cartContentsDisplay td.cartQuantityUpdate,
  #shoppingcartBody #cartContentsDisplay td.cartTotalDisplay {
    display: none;  
  }
  .table > thead > tr > th, 
  .table > tbody > tr > th, 
  .table > tfoot > tr > th, 
  .table > thead > tr > td, 
  .table > tbody > tr > td, 
  .table > tfoot > tr > td {
    padding: 8px 2px;
  }
  .center,
  .p_20 {
    text-align: center;
  }
  #search_block {
    margin: 15px auto 0;
    float:none;
  }
  aside.column .block_content .img {
    float: none;
      margin-bottom: 0;
      margin-right: 0;
      width: 100%;
      img{
        width: 80%;
      }
  }
  aside.column .block_content .sb-info, 
  aside.column #module_reviews .sb-info {
    float: none;
    margin: 0;
    padding: 0 12px;
    width: 100%;
  }

}
@media only screen and (max-width: 767px) {

  .top_menu {
    width: 100%;
  }
  header .bottom {
    text-align: center;
  }
  .shopping_cart_content {
    top: 59px;
    width: 50%;
  }

  .categories_btn {
    display: none;
  }
  #tm_categories_block {
    top: 0;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    #tm_categories {
      display: none;
    }
    .module-heading {
      display: block;
    }
  }
  #mega-wrapper .mega-menu > li > a {
    padding: 18px;
    font-size: 17px;
  }

  #ezpages {
    display: none;
  }
  div#header_logo {
    float: none;
    margin: 20px 0;
    text-align: center;
    img{

    }
  }
  .phone {
    float: none;
  }

  #banners2 div .title {
    top: 22%;
    .capt{
      h4{
        font: 300 20px/30px "Ubuntu",sans-serif;
        padding: 0 20px;
        br{
          display: none;
        }
      }
    }
  }
  .bot_bg {
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .shopping_cart {
    height: 53px;
    webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
  header .middle {
    padding-bottom: 30px;
  }
  .header_user_info.customer_links {
    padding: 0 20px;
  }

  div.stickUpTop {
    position:relative;
    z-index:100;
    top:0;
  }
  div#block_top_menu nav {
    min-height: 54px;
  }
  .main-col {
    float: none;
    margin-bottom: 0;
  }
  #specialsListing .grid li .product-col .price span {
    font-size: 21px;
  }
  .atrib2 #productAttributes .wrapperAttribsOptions .option {
    width: 100%;
  }
  .video_desc {
    margin: 0 0 30px;
  }
  #productYouTube {
    margin-bottom: 15px;
  }
  .product_list.list li {
    margin-bottom: 30px;
  }
  #banners1 div > div .title .capt h3,
  #banners1 div > div .title .capt h3 > b{
    font-size: 17px!important;
    line-height: 21px;
  }
  .footer_logo {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .footer-container .footer-menu {
    margin-bottom: 20px;
  }
  #productGeneral .btn-default-small {
    margin-bottom: 10px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 450px;
}
  #search_block {
    display: inline-block;
    margin: 20px 0;
    float: none;
    width: 100%;
    left:0;
  }

/*********** mega-menu **********/

  #mega-wrapper .mega-menu .categories-banners {
    display: none;
  }
  .top_menu {
    position: relative;
    overflow: hidden;
    margin: 0 0 30px;
    >.container{
      padding: 0;
      width: 100%;
    }
  }
  #mega-wrapper {
    display: none;
  }
  .cat-title {
    display: block;
    position: relative;
    margin: 0;
    webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #2f2f2f;
    text-align: left;
    cursor: pointer;
    color: #fff;
    margin: 0 auto -1px;
    width: 100%;
    line-height: 36px!important;
    font-size: 20px!important;
    padding: 9px 20px!important;
    font-family: $font-custom;
    @include transition;
  }
  .cat-title:hover {
    color:#fff;
    background: $color;
  }
  .cat-title:after {
    content: "\f067";
    display: block;
    font-family: "FontAwesome";
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 11px;
    color: #fff;
    &:hover{
      color:$color2;
    }
  }
  .cat-title.open:after {
      content: "\f068";
  }
  #mega-wrapper .mega-menu .label {
    left:0;
    top:0;
    right:auto;
    display: none;
  }

  #mega-wrapper .mega-menu > li {
    display: block;
	  float:none;
	  position:relative;
	  border-right:none;
    padding: 0;
    border-top: 1px solid $color;
  }
	#mega-wrapper .mega-menu > li .dropdown,
	#mega-wrapper .mega-menu > li .dropdown_aboutus,
	#mega-wrapper .mega-menu > li .dropdown_info{
		display:none;
		visibility:visible;
	}
	.plus,
  .minus{
		position:absolute; 
		right:0; 
		top:0; 
		width:100%;
		height:48px; 
    cursor:pointer;
		&:after {
			content: "\f067";
			display: block;
			font-family: "FontAwesome";
			font-size: 22px;
			position: absolute;
			right: 20px;
			top: 14px;
			color:#fff;
      @include transition;
		  }
	}
  .mega-menu li .open:after{
    content: "\f068";
  }
  .mega-menu>li .plus:hover:after {
     color: #2f2f2f;
  }
  .mega-menu>li>a{
    color: $color1;
  }
  .mega-menu>li:hover .drop {
     color: #2f2f2f!important;
  }
  .mega-menu li.manufacturers-li .dropdown li a img{
    width: 30%;
  }
	.mega-menu li.categories-li .dropdown.col-9 ul.level2 > .col-inner{
		width:50%;
	}
  .ez-menu {
    padding: 10px 0!important;
  }
  .ezpagesFooterCol.col1 {
    text-align: center;
  }
  #search_block .form-search {
    width: 100%!important;
  }
  #search_block .form-search #searchInput {
    width: 80%;
    font-size: 12px;
  }
  #search_block .form-search .button-search {
    width: 20%;
  }
  #suggestions{
	  display:none !important; 
	 }
    .greeting h2.hello:after {
      font-size: 76px;
      line-height: 86px;
    }

    .content_sortPagiBar .dropdown .dropdown-menu.alt {
      padding: 10px 0 7px 1%;
    }
    .content_sortPagiBar .dropdown .dropdown-menu.alt li {
      display: inline-block;
      width: 49%;
      margin-right: 1%;
    }
    .content_sortPagiBar .dropdown .dropdown-menu.alt li a {
      padding: 0 5px;
      line-height: 22px;
      font-size: 13px;
      display: block;
    }

  #relatedProducts + br {
    display: none;
  }
  #relatedProducts .product-col {
      margin-bottom: 30px;
    }
  #relatedProducts .product-col .prod-info {
    text-align: center;
    padding: 15px;
  }
  #button_product {
    margin: 30px 0 0;
  }

  .grid li .product-col .prod-info, 
  .list li .product-col .prod-info, 
  .product-col .prod-info {
    padding: 20px;
  }

    .centerBoxContentsFeatured.centeredContent.back .btn {
      margin-bottom: 7px;
    }

    #specialsDefault .prod-list1.w16 li .product-col {
      min-height: auto;
    }
    .with_col .prod-list1.w16 li {
    margin: 0 0 0 0.76%;
  }

  #search_block .form-search:before {
    display: none;
  }
  #search_block .form-search {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  span.grower {
      font-size: 28px;
      right: 0px;
  }
  span.grower.OPEN:before, 
  span.grower.CLOSE:before {
    width: 48px;
  }
  #orderTotals .lineTitle {
    width: 60%;
  }
  .totalBox {
    width: 30%;
  }
  .tm_custom_block ul .item2 .inner li  {
    margin-bottom: 0;
  }
  .tm_custom_block .row li + li {
    margin-top: 20px;
  }
  .sideBoxContent.centeredContent .price .productPriceDiscount {
    left: 0;
    top: 0;
  }
  .block_content ul li a,
  .block_content ol li a,
  #tm_categories > ul > li > a {
    font-size: 13px;
  }

/*********** footer titles accordion **********/
  
  footer .footer-container ul li {
    text-align: left;
  }
  footer .footer-container .contact-block {
    font-size: 14px;
    line-height: 30px;
  }
  footer .footer-container .contact-block .contact_list span:before {
    top: 1px;
  }
  footer .footer-container h2 {
    margin-bottom: 2px;
    line-height: 36px;
  }
  .module-head {
    background:#fafafa;
    border:$border;
  }
  .ezpagesFooterCol.col1,
  .account_list,
  .social_list,
  .contact_list {
    display: none;
  }
  .module-heading:after,
  .title_btn1:after,
  .title_btn2:after,
  .title_btn3:after,
  .title_btn4:after {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 1px;
    content: "\f067";
    font-size: 26px;
    width: 100%;
    text-align: right;
    line-height: 41px;
    font-weight: normal;
    color: #999;
    font-family: $font-icon;
    @include transition;
    display: inline-block;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; 
  }
  .title_btn1:hover:after,
  .title_btn2:hover:after,
  .title_btn3:hover:after,
  .title_btn4:hover:after{
     color: $color;
  }
  .title_btn1.curr:after,
  .title_btn2.curr:after,
  .title_btn3.curr:after,
  .title_btn4.curr:after{
    content: "\f068";
    color: $color;
  }
  #tm_categories {
    margin-bottom: 25px;
  }
  .with_col .prod-list1.w25 {
    margin-bottom: 15px;
    margin-top: -1px;
  }
  .module-heading:after {
    color: #999;
    right: 15px;
    top: 3px;
    font-size: 26px;
  }
  footer .footer-container .brdr {
    padding-bottom: 0;
    border-left:0;
  }
  .form-group.contact-group-area {
      width: 100%;
  }
  .open.module-heading:after {
    color: #999;
    content: '\f068';
  }
  .module-heading:hover:after {
    color: $color;
  }
  .block_content .sideBoxContent {
    margin-bottom: 0;
  }
  .banners1 {
    .item + .item {
      margin-top: 30px;
    }
  }
  .banners1 .item .title .capt {
    padding: 20px 41% 20px 20px;
    p {
      display: block;
    }
  }
  .tm_custom_block {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

/*********** //// **********/    
    #indexHomeBody #specialsDefault {
      margin-bottom: 0;
    }
    .pb-center-column {
      margin-top: 20px;
    }
    .categoryColumn #category-image .cat_desc {
      padding: 15px;
    }
    .content_sortPagiBar {
      position: relative;
      height: auto;
    }
    .content_sortPagiBar .dropdown {
      float: none;
      text-align: right;
      width: 100%;
      display: block;
      position: relative;
      margin-right: 0;
    }
    .content_sortPagiBar label {
      width: 23%;
      margin: 0;
      display: inline-block;
    }
    .content_sortPagiBar .dropdown button {
      width: 77%;
    }
    #advSearchDefault .col-xs-12 {
      width: 100%!important;
      margin-bottom: 20px;
    }
    #advSearchDefault .col-xs-12 .forward {
      margin-bottom: 10px;
    }

    #indexCategories .categoryListBoxContents {
      margin-bottom: 20px;
    }
    #loginBody .newsletter_block {
      width: 55%;
    }
    #specialsDefault {
      margin-bottom: 18px;
    }
    .prod-list1.w16 .product-col {
      min-height: 108px !important;
    }
    aside.left_column {
      margin-top: 30px;
    }
    aside.column .block_content .img {
      float: left;
      width: 30%;
      margin-right: 4%;
      margin-bottom: 0;
    }
    #newsletter-checkbox {
      margin-right: 1px;
    }
    .pb-center-column {
      margin: 0 0 20px;
    }
   .btn.products-button.mt2 {
      margin-top: 10px !important;
      display: inline-block;
    }
    .specials_p #next2 {
      position: relative;
    }
    .specials_p #next2 {
      left: 38px;
    }

    .grid li .product-col .prod-info, .list li .product-col .prod-info, .product-col .prod-info {
    padding: 15px 0 0;
  }

  .block_content {
    display: none;
  }
  #module_search .search-text {width: 90%;}
  #module_search .button-search {width: 10%;}

  #siteMap {
    margin-bottom: 30px;
  }
  .bot-border {
    padding: 0;
    margin-bottom: 30px;
  }
    .categoryColumn #subcategories {
    padding: 20px 0 10px; 
  }
  .btn{
    margin-bottom: 5px;
  }
  #reviewsDefault .btn-default-small{
    margin-bottom: 5px;
  }
  #productAdditionalImages {
    margin: 20px 0;
  }

  #shoppingCartDefault .heading h1{
    padding-right: 84px;
  }
  footer .footer-container .copyright {
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
    br{
      display: block;
    }
  }
  footer .footer-container .copyright p span {
    display: inline-block;
    margin-right: 4px;
  }

  .categoryColumn #subcategories ul li span {
    font-size: 15px;
    font-weight: 300;
  }
  .content_sortPagiBar label {
    line-height: 23px;
  }
    #productYouTube {
    margin-bottom: 0;
  }
    .mega-menu li.categories-li .dropdown.col-9 {
    padding-bottom: 20px!important;
   }
   aside.column .block_content .img {
      float: none;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
   }
  .grid li .product-col .prod-info .text, 
  .list li .product-col .prod-info .text, 
  .product-col .prod-info .text {
    font-size: 13px;
    line-height: 17px;
  }
  
}

@media only screen and (max-width: 480px) {

   #toTop {
    display: none!important;
  }
  .container {
    width: 100%;
  }
    .shopping_cart_content {
    width: 100%;
  }
  .mega-menu li.categories-li .dropdown.col-9 ul.level2 > .col-inner{
    width:100%;
    margin-bottom: 4%;
  }
  .mega-menu li.categories-li .dropdown ul.level3 > li a {
    font-size: 14px;
  }
  .header_user_info li + li {
    margin-left: 10%;
  }
  #currencies-block-top ul.dropdown-menu {
    left: auto;
    right: 0!important;
  }
    .greeting h2 {
      font: 400 20px/24px $font-custom;
      margin: 0;
      padding: 20px 114px 20px 20px;
    }
  #banners1 {
    margin: 30px auto 20px;
    overflow: hidden;
    width: 270px;
    .col-sm-4.col-xs-4.item {
      width: 100%;
      float: none;
    }
  }

  .reviews_button .btn-add-small {
    margin-top: 15px!important;
  }
  .shopping_cart div.shop-box-wrap .st3 em {
    display: none;
  }
  .shopping_cart div.shop-box-wrap .st3 i {
    display: inline;
  }
  #specialsListing .product_list.grid .product-col{
    margin: 0 auto;
    width: 270px;
  }
  #specialsListing .product-col.list {
    padding: 20px;
    margin: 0 auto;
    width: 270px;
  }
  #specialsListing .product-col.list .col-xs-3,
  #specialsListing .product-col.list .col-xs-4,
  #specialsListing .product-col.list .col-xs-5 {
    width: 100%;
  }
  .with_col .prod-list1 li .product-col{
    max-width: 270px;
    width: 270px;
  }
  span.productPriceDiscount {
    padding: 3px 5px;
  }
  .categoryColumn #category-image .cat_desc {
    display: none;
  }
  #productListing .product_list .col-xs-12 {
      width: 100%;
    }
    .content_sortPagiBar label {
      display: block;
      margin-right: 0;
    }
    .centerBoxHeading {
      font-size: 15px;
    }
    #newProductsDefault .content_sortPagiBar.list .dropdown,
    #dropdownMenuSort {
      width: 100%;
    }
    #checkoutConfirmDefault .totalBox,
    #checkoutOrderTotals .totalBox {
      width: 40%;
    }
    textarea {
      width: 100%;
    }
    #loginBody .newsletter_block {
      width: 100%;
    }
    #loginBody .newsletter_block input {
      width: 30px!important;
    }
    #loginBody .newsletter_block label {
      width: 70%!important;
    }
    #loginBody .newsletter_block + .buttonRow {
      float: left;
    }
    #loginBody .form-group label {
      width: 33%;
    }
    #loginBody .form-group input, #loginBody .form-group select {
      width: 66%;
    }
    .rev-but .btn.btn-success.btn-sm {
      margin-bottom: 6px;
    }
  #module_search .search-text {width: 80%;}
  #module_search .button-search {width: 20%;}
  
  .atrib2 #productAttributes .wrapperAttribsOptions .option {
    width: 100%;
  }
  .atrib2 #productAttributes .wrapperAttribsOptions .option.two {
    width: 100%;
  }
  #prevOrders th,
  #prevOrders td {
    padding: 4px 2px;
    font-size: 12px;
  }
  footer .footer-container .copyright {
    margin: 0;
  }
  #newProductsDefault .col-xs-3 {
    width: 100%;
  }
  #newProductsDefault .col-xs-5 {
    width: 100%
  }
  #newProductsDefault .col-xs-4 {
    width: 100%;
    padding: 0 30px;
  }
  .list li .product-col .center-block {
    border: none;
  }
  .pull-left.image-block {
    width: 100%;
    margin-bottom: 0px!important;
  }
  .header_cust_block p{
    font-size: 31px;
    line-height: 31px;
  }
  #productAdditionalImages {
    float: left;
    width: 100%;
  }
  #productGeneral .col-xs-6,
  #relatedProducts .col-xs-6{
    width: 100%;
  }

  .mega-menu li.manufacturers-li .dropdown li a img{
    width: 50%;
  }
  #productMainImage {
    width: 290px;
    margin: 0 auto!important;
    float: none!important;
  }
  #checkoutPayment legend {
  margin-top: 10px;
  }
  #social {
    height:auto;
    >li{
      margin-right:10px;
      +li{
        margin-left:0;
      }
    }
  }

}